<a href="/reporting">Reporting</a> | <a href="/supply">Supply</a> | <a href="/demand">Demand</a> | <a href="/settings">Settings</a>

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link" href="/demand">Demand Accounts</a>
    </li>
    <li class="nav-item">
        <span class="nav-link active">Advertisers</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/demand-tags">Demand Tags</a>
    </li>
</ul>

<div id="table_advertisers"></div>

<script src="/js/advertisers.js"></script>
