<div class="mx-auto" style="max-width: 30rem;">
    <div class="card card-lg mb-5">
        <div class="card-body">
            <div class="row">
                <div class="col">
                Welcome to AdServe
                </div>
            </div>
            <div class="row">
                <h1>Client Log in</h1>
                <div class="mb-3">
                    <label class="form-label">Username:</label>
                    <input class="form-control" id="username" type="text" autocomplete="off" autocapitalize="off" spellcheck="false"/>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password:</label>
                    <input class="form-control" id="password" type="password" autocomplete="off" autocapitalize="off" maxlength="8"/>
                </div>
                <div class="mb-3">
                    <label class="form-label">2FA Token:</label>
                    <input class="form-control" id="token" type="text" maxlength="6"/>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary" id="login">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!--<div id="label_number"></div>-->

<script src="/js/login.js"></script>
