<a href="/reporting">Reporting</a> | <a href="/supply-tags">Supply</a> | <a href="/demand-tags">Demand</a> | <a href="/settings">Settings</a>
<div class="row">
    <div class="col">
        <h1>Reporting</h1>
    </div>
    <div class="col text-align-right">
        <button class="btn btn-outline-primary">Refresh</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
        <label>Requests</label>
        <div><b>17,911,509,385</b></div>
        <span>-16%</span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
        <label>Impressions</label>
        <div><b>146,166,227</b></div>
        <span>-17%</span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
        <label>Request Fill</label>
        <div><b>0.82%</b></div>
        <span>-18%</span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
        <label>Revenue</label>
        <div><b>$1,280,976.93</b></div>
        <span>0%</span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <label>Profit</label>
                <div><b>$335,231.00</b></div>
                <span>0%</span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
        <label>Media Margin</label>
        <div><b>$52.00</b></div>
        <span>+92%</span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
        <label>Media Margin %</label>
        <div><b>26.17%</b></div>
        <span>-61%</span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
        <label>RPM</label>
        <div><b>$2.66</b></div>
        <span>-21%</span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
        <label>eRPM</label>
        <div><b>$4.36</b></div>
        <span>+85%</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Performance (Comparison)</h3>
        Today | Yesterday | 30 days ago
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary">Fill Rate</button>
            <button type="button" class="btn btn-outline-primary">Opp Rate</button>
            <button type="button" class="btn btn-outline-primary">Requests</button>
            <button type="button" class="btn btn-outline-primary">Opportunities</button>
            <button type="button" class="btn btn-outline-primary">Impressions</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Performance (Today)</h3>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary">Minute</button>
            <button type="button" class="btn btn-outline-primary">Hour</button>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Financial (Today)</h3>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary">Minute</button>
            <button type="button" class="btn btn-outline-primary">Hour</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Performance (Last 30 days)</h3>
    </div>
    <div class="col-md-6">
        <h3>Financial (Last 30 days)</h3>
    </div>
</div>
