<a href="/reporting">Reporting</a> | <a href="/supply">Supply</a> | <a href="/demand-tags">Demand</a> | <a href="/settings">Settings</a>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/supply">Supply Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/sites">Sites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/supply-tags">Supply Tags</a>
    </li>
</ul>


<div id="table_sites"></div>


<script src="/js/sites.js"></script>
