<a href="/reporting">Reporting</a> | <a href="/supply">Supply</a> | <a href="/demand">Demand</a> | <a href="/settings">Settings</a>

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link" href="/supply">Supply Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/sites">Sites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/supply-tags">Supply Tags</a>
    </li>
</ul>

<div id="table_supply_tags"></div>

<script src="/js/supply-tags.js"></script>
