html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,img {
    border: 0
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
    font-style: inherit;
    font-weight: inherit
}

del,ins {
    text-decoration: none
}

li {
    list-style: none
}

caption,th {
    text-align: left
}
abbr,acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: baseline
}

sub {
    vertical-align: baseline
}

legend {
    color: #000
}

input,button,textarea,select,optgroup,option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}

input,button,textarea,select {
    *font-size: 100%
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
}
h1, h2, h3 { line-height: normal }
.logo {
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.logo span {
    background: red;
    color: #fff;
    padding: 2px;
    display: inline-block;
    margin-right: 2px;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
a { color: red }
ul {
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 0;
}
/*
li+li {
    margin-top: 0.25em;
}
 */
* {
    box-sizing: border-box;
}

.card-lg>.card-body {
    padding: 2.5rem 2.5rem;
}

